body{
    background-color: aliceblue;
    
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings: "wdth" 100;
}
.Weather-app{
    background: white;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 35px;
}
header{
    border-bottom: 1px solid aliceblue;
    padding: 0 0 30px 0;
}
.search-input{
    background-color: aliceblue;
    border: none;
    border-radius: 8px;
    width: 75%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-button{
    background-color: #FF8080;
    border: none;
    margin-left: 5px;
    border-radius: 8px;
    font-size: 16px;
    color: whitesmoke;
    padding: 15px 30px;
    
}
