body{
    background-color: aliceblue;
}
.Weather-app{
    background: white;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 35px;
}
